<div class="cards">
    <figure class="card">
        <img src="img/cars (1).jpg" alt="img-1">
        <figcaption>Cars 1</figcaption>
    </figure>
    <figure class="card">
        <img src="img/cars (2).jpg" alt="img-2">
        <figcaption>Cars 2</figcaption>
    </figure>
    <figure class="card">
        <img src="img/cars (3).jpg" alt="img-3">
        <figcaption>Cars 3</figcaption>
    </figure>
    <figure class="card">
        <img src="img/cars (4).jpg" alt="img-4">
        <figcaption>Cars 4</figcaption>
    </figure>
    <figure class="card">
        <img src="img/cars (5).jpg" alt="img-5">
        <figcaption>Cars 5</figcaption>
    </figure>
    <figure class="card">
        <img src="img/cars (6).jpg" alt="img-6">
        <figcaption>Cars 6</figcaption>
    </figure>
</div>
